@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:  'Montserrat', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

:root {
    --Vermelho: #ca3b3a;
    --Preto: #161616;
    --Cinza: #707070;
}

header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid red;
    height: 15%;
    margin-bottom: 5%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header .logo h1 img{
    width: 80px;
    height: 80px;
}

.header .links-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.header .links-nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--Preto);
    padding: 5px;
}

.header .links-nav a:hover {
    border-bottom: 2px solid var(--Vermelho);
    transition: 0.2s;
}

.header .links-nav-2 {
    display: flex;
    flex-direction: row;
}

.header .links-nav-2 input {
    width: 150px;
    height: 20px;
    background-color: #fff;
    border: 1px solid var(--Preto);
    border-radius: 4px;
    margin-right: 5px;
}

.header .links-nav-2 label {
    margin-right: 20px;
}

.header .shop-nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--Preto);
    padding: 5px;
    margin: 0 10px;
}

main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    border: 1px solid blue;
    height: 60%;
}

main .fone {
    margin: 0 20%;
}

main .fone .img-fone img {
    width: 40%;
    height: 40%;
}

main .fone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .fone .descricao-fone {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

main .fone .descricao-fone h2 {
    font-size: 32px;
    color: var(--Vermelho);
    text-transform: uppercase;
}

main .fone .descricao-fone .subtitulo-fone h3 {
    color: var(--Preto);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300px;
    margin-bottom: 1%;
}

main .fone .descricao-fone .subtitulo-fone p {
    color: var(--Vermelho);
    font-weight: bold;
}

main .fone .descricao-fone .subtitulo-fone span {
    margin-right: 20px;
    padding: 10px;
}

main .fone .descricao-fone .especificacoes .especificacao-1 {
    margin-bottom: 15px;
}

main .fone .descricao-fone .especificacoes  h3 {
    color: var(--Preto);
    font-weight: bold;
}

main .fone .descricao-fone .especificacoes p {
    font-weight: 300;
    color: var(--Cinza);
}

main .fone .descricao-fone .preco-compra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .fone .descricao-fone .preco-compra h3 {
    font-size: 32px;
    color: var(--Preto);
    margin-right: 40px;
}

main .fone .descricao-fone .preco-compra button {
    width: 142px;
    height: 32px;
    background-color: var(--Vermelho);
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--Vermelho);
    border-radius: 4px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid green;
    height: 15%;
}